public interface UserMapper {
    User selectByPrimaryKey(Long id);
}

<!-- Generated in Mapper XML -->
<select id="selectByPrimaryKey" resultMap="BaseResultMap">
  select * from user where id = #{id}
</select>
